certifi
chardet
Django
django-appconf
django-compressor
django-libsass
django-redis
django-axes
django-ipware
idna
libsass
numpy
psycopg2-binary
pytz
rcssmin
requests
rjsmin
scipy
six
sqlparse
urllib3
geopy==1.22.0
django-widget-tweaks
redis
channels
channels-redis
gpxpy
gunicorn
uvicorn